.input-field {
  padding: 10px 1vw;
  margin: auto;
  margin-bottom: 20px;
}
.input-field label {
  width: 165px;
  padding: 1vh 0.5vw;
  display: inline-block;
  font-weight: bold;
  color: #616365;
}
.input-field input {
  height: 50px;
  width: 55%;
  padding-left: 1vw;
  background: #fafafa;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
}
.input-field input:focus {
  outline: none !important;
  border: 2px solid#008ad9;
}
input[type="file"] {
  color: #008ad9;
}

@media only screen and (max-width: 600px) {
  .input-field input {
    width: 100%;
  }
}
