body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-btn-forward {
  vertical-align: middle;
  background-color: #38a8ff !important;
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
}
.custom-btn-forward:hover {
  background-color: #007bff !important ;
}

.custom-btn-backward {
  vertical-align: middle;
  background-color: #fff3f3 !important;
  color: #eb5757 !important;
  width: 64px;
  height: 64px;
  border-radius: 50% !important;
}
.custom-btn-backward:hover {
  background-color: #eb5757 !important ;
  color: white !important;
}
